/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f9;
    text-align: center;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #0ea190, #3e6f8b);

    padding: 15px 20px;
    color: white;
}

/* Logo Styling */
.logo img {
    width: 50px;  
    height: auto;  
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

button {
    background: #ff9800;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #e68900;
}

/* Hero Section */
#hero {
    padding: 50px;
    background: linear-gradient(to right, #448d87, #084750);
    color: white;
}

#hero h1 {
    font-size: 2.5em;
}

#hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Quote Section */
#quote-section {
    margin: 40px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
}


/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    nav {
        flex-direction: column;
        margin-top: 10px;
    }
}


footer {
    background: #217a70;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 150px;
}

.footer-container {
    width: 80%;
    margin: auto;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);
}
